img {
    width:10%
}

nav {
    background-color: rgb(30, 153, 210);
}

nav  ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav li.About {
    margin-left: auto;
}
nav li {
    padding-left: 2em;
}

a {
    text-decoration: none;
    color: black;
}
